/*
<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('close')">Close</button>
  <button type="button" class="btn btn-primary" (click)="closeModal('changes saved!')">Save changes</button>*/
  *{
    font-family:'Monda';
    font-weight: bold;
}

  .form-text{
    font-weight: bold;
    cursor: pointer;
}
.form-text:hover{
  color: rgb(129, 91, 91);
}
.btn {
  background-color: rgb(129, 91, 91);
  border-color: rgb(129, 91, 91);
}
.btn:hover{
  color: rgb(255, 248, 234);
}