<div class="cont">
  <div class="car-brand">
    <h3 class="sl-title">CHEVEROLET</h3>
    <h2>Mercedes Grand Sedan</h2>
  </div>
  <h3 class="price">Price : 100dt/jour</h3>
  <div class="features">
    <div class="feature">
        <div class="circular">
            <img src="../../assets/svgs/gauge-solid.svg" alt="" class="feature-svg">
        </div>
        <div class="feature-text">
            <p>Mileage</p>
            <p class="sl-title">100,000</p>
        </div>
    </div>
    <div class="feature">
        <div class="circular">
            <img src="../../assets/svgs/city-solid.svg" alt="" class="feature-svg">
        </div>
        <div class="feature-text">
            <p>City</p>
            <p class="sl-title">Sidi Bouzid</p>
        </div>
    </div>
    <div class="feature">
        <div class="circular">
            <img src="../../assets/svgs/user-regular.svg" alt="" class="feature-svg">
        </div>
        <div class="feature-text">
            <p>Seats</p>
            <p class="sl-title">5 Adults</p>
        </div>
    </div>
    <div class="feature">
        <div class="circular">
            <img src="../../assets/svgs/gas-pump-solid.svg" alt="" class="feature-svg">
        </div>
        <div class="feature-text">
            <p>Fuel</p>
            <p class="sl-title">Gasoline</p>
        </div>
    </div>
    <div class="feature">
        <div class="circular">
            <img src="../../assets/svgs/gear-solid.svg" alt="" class="feature-svg">
        </div>
        <div class="feature-text">
            <p>Transmission</p>
            <p class="sl-title">Manual</p>
        </div>
    </div>
  </div>

                              </div>
                              

