section {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #FFF8EA;
    min-height: 100vh ;
}

section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100% ;
    background: linear-gradient(#FFF8EA,#9E7676);
    clip-path: circle(30% at right 70%);
}

section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#9E7676,#815B5B);
    clip-path: circle(20% at 10% 10%);
}