<section>
	<div class="section">
		<div class="container">
			<div class="row full-height justify-content-center">
				<div class="col-12 text-center align-self-center py-5">
					<div class="section pb-5 pt-5 pt-sm-2 text-center">
						<h6 class="mb-0 pb-3"><span>ADD A CAR </span><span>ADD A HOUSE</span></h6>
			          	<input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
			          	<label for="reg-log"></label>
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
								<div class="card-front">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">ADD A CAR</h4>
											<div class="form-row">
												<div class="form-group mt-2 input1">
													<input type="text" name="model" class="form-style" placeholder="Your Car Model" id="model" autocomplete="off">
													<i class="input-icon uil uil-at"></i>												</div>
												<div class="form-group mt-2 ">
													<input type="text" name="brand" class="form-style" placeholder="Your Car Brand" id="brand" autocomplete="off">
													<i class="input-icon uil uil-at"></i>												</div>
												</div>	
											<div class="form-row">
												<div class="form-group mt-2 input1">
													<input type="text" name="price" class="form-style" placeholder="Your Car Price" id="price" autocomplete="off">
													<i class="input-icon uil uil-at"></i>												</div>
												<div class="form-group mt-2 ">
													<input type="text" name="city" class="form-style" placeholder="Your City" id="city" autocomplete="off">
													<i class="input-icon uil uil-at"></i>												</div>
												</div>
												<textarea name="message" id="message" cols="30" rows="5" ></textarea>
									
											<a href="#" class="btn mt-4">ADD</a>
				      					</div>
			      					</div>
			      				</div>
								<div class="card-back">
									<div class="center-wrap">
										<div class="section text-center">
											<h4 class="mb-4 pb-3">ADD A HOUSE</h4>
											<div class="form-row">
												<div class="form-group mt-2 input1">
													<input type="text" name="title" class="form-style" placeholder="Your Car Title" id="title" autocomplete="off">
													<i class="input-icon uil uil-at"></i>												</div>
												<div class="form-group mt-2 ">
													<input type="text" name="rooms" class="form-style" placeholder="Your Car Rooms" id="rooms" autocomplete="off">
													<i class="input-icon uil uil-at"></i>												</div>
												</div>	
											<div class="form-row">
												<div class="form-group mt-2 input1">
													<input type="text" name="price" class="form-style" placeholder="Your Car Price" id="price" autocomplete="off">
													<i class="input-icon uil uil-at"></i>												</div>
												<div class="form-group mt-2 ">
													<input type="text" name="city" class="form-style" placeholder="Your City" id="city" autocomplete="off">
													<i class="input-icon uil uil-at"></i>												</div>
												</div>
												<textarea name="message" id="message" cols="30" rows="5" ></textarea>
										
										
											<a href="#" class="btn mt-4">ADD</a>
				      					</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			      	</div>
		      	</div>
	      	</div>
	    </div>
	</div>
</section>