<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""
      ><img class="logo" src="assets/images/logo.png" [style.height]="'150px'"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink=""
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['properties']"
            [queryParams]="{ category: 'car' }"
            >Vehicles</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['properties']"
            [queryParams]="{ category: 'home' }"
            >Houses</a
          >
        </li>
        <li class="nav-item"><a class="nav-link" routerLink="">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="">Contact</a></li>
      </ul>

      <button
        type="button"
        class="btn btn-secondary btn-lg"
        (click)="openModalLogin()"
      >
        Login
      </button>
      <div class="divider"></div>
      <button
        type="button"
        class="btn btn-secondary btn-lg"
        (click)="openModalRegister()"
      >
        Register
      </button>
    </div>
  </div>
</nav>
