<section>
    <div class="header">
        <h2>OUR TEAM</h2>
    <div class="container">
        
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img src="assets/images/ahmed.jpg" [style.height]="'298px'">
                </div>
                <div class="contentBx">
                    <h3>Ahmed Mahfoudhi<br><span>FullStack Developer</span></h3>
                </div>
            </div>
            <ul class="sci">
                <li style="--i:1">
                    <a href="#"><img src="assets/svgs/facebook.svg" [style.height]="'20px'"></a>
                </li>
                <li style="--i:2">
                    <a href="#"><img src="assets/svgs/instagram.svg" [style.height]="'20px'"></a>
                </li>
                <li style="--i:3">
                    <a href="#"><img src="assets/svgs/linkedin.svg" [style.height]="'20px'"></a>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx ">
                    <img class="img2" src="assets/images/hamza.jpg" [style.height]="'299px'" [style.width]="'300px'">
                </div>
                <div class="contentBx">
                    <h3>Hamza Sdiri<br><span>FullStack Developer</span></h3>
                </div>
            </div>
            <ul class="sci">
                <li style="--i:1">
                    <a href="#"><img src="assets/svgs/facebook.svg" [style.height]="'20px'"></a>
                </li>
                <li style="--i:2">
                    <a href="#"><img src="assets/svgs/instagram.svg" [style.height]="'20px'"></a>
                </li>
                <li style="--i:3">
                    <a href="#"><img src="assets/svgs/linkedin.svg" [style.height]="'20px'"></a>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="content">
                <div class="imgBx">
                    <img class="img3" src="assets/images/mazen.jpg" [style.height]="'300px'">
                </div>
                <div class="contentBx">
                    <h3>Mazen Issaoui<br><span>FullStack Developer</span></h3>
                </div>
            </div>
            <ul class="sci">
                <li style="--i:1">
                    <a href="#"><img src="assets/svgs/facebook.svg" [style.height]="'20px'"></a>
                </li>
                <li style="--i:2">
                    <a href="#"><img src="assets/svgs/instagram.svg" [style.height]="'20px'"></a>
                </li>
                <li style="--i:3">
                    <a href="#"><img src="assets/svgs/linkedin.svg" [style.height]="'20px'"></a>
                </li>
            </ul>
        </div>
    </div>
    </div>
</section>
