/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&family=Montserrat&display=swap');

:root{
    --bs-title-font-family: 'Monda', sans-serif;
    --bs-text-font-family: 'Montserrat', sans-serif;
}

body{
    font-family: var(--bs-text-font-family);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--bs-title-font-family);
}
