/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");


/*h1,h2,h3 {
    font-family: 'Monda', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
}*/

*{
    font-family: "Monda";
    font-weight: bold;
}